* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f1ec;
  font-family: sans-serif;
}

/* HEADER */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 10px 1px black;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* END HEADER */

/* LIBRARY ACTIONS */

.library-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.library-actions-buttons button {
  padding: 0.5rem 1rem;
  margin: 1rem;
  cursor: pointer;
  transition: linear 50ms;
}

.library-actions-buttons button:active {
  border-radius: 12px;
}

#add-new-book-btn {
  background-color: aquamarine;
  border: 1px solid black;
}

#delete-all-books-btn {
  background-color: salmon;
  border: 1px solid black;
}

/* END LIBRARY ACTIONS */

/* NEW BOOK FORM */

.new-book-form-container {
  margin: 1rem;
  min-width: 50%;
}

.new-book-form.active {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.new-book-form {
  display: none;
}

.new-book-form input[type='text'] {
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 10px 0 10px 20px;
}

.new-book-form div {
  margin: 0.25rem;
}

.form-buttons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.form-buttons button {
  margin: 1rem;
  padding: 0.5rem 0;
  cursor: pointer;
}

/* END NEW BOOK FORM */

.active {
  display: block;
}

/* LIBRARY */

.library {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-items: end;
  gap: 1rem;
  margin: 1rem;
}

/* END LIBRARY */

/* BOOK CARD */

.book {
  height: max-content;
  padding: 1rem 0;
  border: 3px solid brown;
}

.book p,
.book button {
  margin: 0.25rem 0.25rem;
  padding: 10px;
}

.book .title {
  /* writing-mode: vertical-lr;
  transform: rotate(180deg); */
  text-decoration: underline;
  font-size: 2rem;
}

.book .author {
  border-top: 3px solid brown;
}
